<settings>
    <category label="Miscellaneous">
        <setting id="domain" type="labelenum" label="Domain"
                 values="http://www.primewire.ag|http://www.1channel.ch|http://www.letmewatchthis.ch|http://www.1channel.ag|http://primewireproxy.co.uk|http://1channel.occupyuk.co.uk"
                 default="http://www.primewire.ag"/>
        <setting id="enableDomain" 	type="bool" label="Enable Custom Domain" default="false" visible="true"/>
        <setting id="customDomain" 	type="text" label="Custom Domain" default="http://1channel.occupyuk.co.uk" enable="!eq(-1,false)" />
        <setting id="theme" type="enum" label="30800" values="Classic|Glossy_Black|PrimeWire" default="1"/>
        <setting id="auto-watch" type="bool" label="30801" default="true"/>
        <setting id="watched-percent" type="enum" values="70[B] %[/B]|80[B] %[/B]|90[B] %[/B]" label="30802" default="2"
                 enable="!eq(-1,false)"/>
        <setting id="flush_cache" type="action" label="Flush webpage cache..." enable="true"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=flush_cache)"/>
		<setting id="use_remote_db" type="bool" label="Use a remote MySQL DB" default="False"/>
        <setting id="db_address" type="text" label="    Address" enable="eq(-1,true)" default=""/>
        <setting id="db_port" type="integer" label="    Port" enable="eq(-2,true)" default=""/>
        <setting id="db_user" type="text" label="    Username" enable="eq(-3,true)" default=""/>
        <setting id="db_pass" type="text" label="    Password" enable="eq(-4,true)" default="" option="hidden"/>
        <setting id="db_name" type="text" label="    Database" enable="eq(-5,true)" default="1channel"/>
        <setting id="migrateDB" type="action" label="    Migrate local DB..." enable="eq(-6,true)"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=migrateDB)"/>
    </category>

    <category label="Meta Data">
        <setting id="use-meta" type="bool" label="30600" default="true"/>
        <setting id="meta-path" type="action" label="30601" enable="!eq(-1,false)"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=9988)" option="close"/>
        <setting id="enable-fanart" type="bool" label="30602" enable="!eq(-2,false)" default="true"/>
        <setting id="use-posters" type="bool" label="30603" enable="!eq(-3,false)" default="false"/>
        <setting id="posters-fallback" type="bool" label="30604" enable="!eq(-1,true)" default="true"/>
    </category>

    <category label="Install Meta Data">
        <setting type="action" label="30720"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_local_metapack)"/>
        <setting type="action" label="30700"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-tvshow-A-G.zip)"/>
        <setting type="action" label="30701"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-tvshow-H-N.zip)"/>
        <setting type="action" label="30702"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-tvshow-O-U.zip)"/>
        <setting type="action" label="30703"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-tvshow-V-123.zip)"/>

        <setting type="action" label="30710"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-A-A.zip)"/>
        <setting type="action" label="30711"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-B-C.zip)"/>
        <setting type="action" label="30712"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-D-E.zip)"/>
        <setting type="action" label="30713"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-F-G.zip)"/>
        <setting type="action" label="30714"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-H-J.zip)"/>
        <setting type="action" label="30715"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-K-M.zip)"/>
        <setting type="action" label="30716"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-N-R.zip)"/>
        <setting type="action" label="30717"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-S-S.zip)"/>
        <setting type="action" label="30718"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-T-T.zip)"/>
        <setting type="action" label="30719"
                 action="RunPlugin(plugin://plugin.video.1channel/default.py?mode=install_metapack&title=MetaPack-movie-U-123.zip)"/>
    </category>

    <category label="Auto-View">
        <setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
        <setting id="movies-view" type="number" label="Movies View" default="503" enable="!eq(-1,false)"/>
        <setting id="tvshows-view" type="number" label="TV Shows View" default="503" enable="!eq(-2,false)"/>
        <setting id="seasons-view" type="number" label="Seasons View" default="504" enable="!eq(-3,false)"/>
        <setting id="episodes-view" type="number" label="Episodes View" default="504" enable="!eq(-4,false)"/>
        <setting id="actors-view" type="number" label="Actors/Directors/Cast View" default="500"
                 enable="!eq(-5,false)"/>
        <setting id="default-view" type="number" label="Default View" default="50" enable="!eq(-5,false)"/>
    </category>

    <category label="Library Integration">
        <setting id="tvshow-folder" type="folder" label="30803"
                 default="special://userdata/addon_data/plugin.video.1channel/TVShows"/>
        <setting id="movie-folder" type="folder" label="30804"
                 default="special://userdata/addon_data/plugin.video.1channel/Movies"/>
        <setting id="auto-update-subscriptions" type="bool" label="30805" default="false"/>
        <setting id="subscription-interval" type="enum" values="2h|5h|10h|15h|24h" label="30806" default="3"
                 enable="!eq(-1,false)"/>
        <setting id="library-update" type="bool" label="30807" default="true" enable="eq(-2,true)"/>
        <setting id="cleanup-subscriptions" type="bool" label="30808" default="true" enable="eq(-3,true)"/>
        <setting id="last_run" type="text" default="1970-01-01 23:59:00.000000" visible="false"/>
    </category>

    <category label="Sources">
        <setting id="auto-play" type="bool" label="30905" default="false"/>
        <setting id="sorting-enabled" type="bool" label="30900" default="false"/>
        <setting id="host-rank" type="text" label="30901" enable="!eq(-1,false)"/>
        <setting id="first-sort" type="enum" values="None|Host|Verified|Quality|Views|Multi-part" label="30902"
                 default="0" enable="!eq(-1,false)"/>
        <setting id="first-sort-reversed" type="bool" label="30903" default="false" enable="gt(-1,0)+!eq(-2,false)"/>
        <setting id="second-sort" type="enum" values="None|Host|Verified|Quality|Views|Multi-part" label="30904"
                 default="0" enable="gt(-2,0)+!eq(-3,false)"/>
        <setting id="second-sort-reversed" type="bool" label="30903" default="true"
                 enable="gt(-1,0)+gt(-3,0)+!eq(-4,false)"/>
        <setting id="third-sort" type="enum" values="None|Host|Verified|Quality|Views|Multi-part" label="30904"
                 default="0" enable="gt(-2,0)+gt(-4,0)+!eq(-5,false)"/>
        <setting id="third-sort-reversed" type="bool" label="30903" default="true"
                 enable="gt(-1,0)+gt(-3,0)+gt(-5,0)+!eq(-6,false)"/>
        <setting id="fourth-sort" type="enum" values="None|Host|Verified|Quality|Views|Multi-part" label="30904"
                 default="0" enable="gt(-2,0)+gt(-4,0)+gt(-6,0)+!eq(-7,false)"/>
        <setting id="fourth-sort-reversed" type="bool" label="30903" default="true"
                 enable="gt(-1,0)+gt(-3,0)+gt(-5,0)+gt(-7,0)+!eq(-8,false)"/>
        <setting id="fifth-sort" type="enum" values="None|Host|Verified|Quality|Views|Multi-part" label="30904"
                 default="0" enable="gt(-2,0)+gt(-4,0)+gt(-6,0)+gt(-8,0)+!eq(-9,false)"/>
        <setting id="fifth-sort-reversed" type="bool" label="30903" default="true"
                 enable="gt(-1,0)+gt(-3,0)+gt(-5,0)+gt(-7,0)+gt(-9,0)+!eq(-10,false)"/>
    </category>

    <category label="Label Formatting">
        <setting id="format-tvshow" type="text" label="31000" default="{ft} {fy}"/>
        <setting id="format-tvshow-title" type="text" label="31001" default="[B]{t}[/B]"/>
        <setting id="format-tvshow-year" type="text" label="31002" default="({y})"/>
        <setting id="format-tvshow-sub" type="text" label="31003" default="[COLOR green]{L}[/COLOR]"/>
        <setting id="format-tvshow-episode" type="text" label="31004" default="{s}x{e} {t}"/>
        <setting type="sep"/>
        <setting type="action" label="31110"/>
        <setting id="format-movie" type="text" label="31100" default="{ft} {fy}"/>
        <setting id="format-movie-title" type="text" label="31101" default="[B]{t}[/B]"/>
        <setting id="format-movie-year" type="text" label="31102" default="({y})"/>
        <setting type="sep"/>
        <setting id="format-source" type="text" label="32000" default="[{q}] {h} {p} ({v} views)"/>
        <setting id="format-source-verified" type="text" label="32001" default="[COLOR gold]{L}[/COLOR]"/>
        <setting id="format-source-parts" type="text" label="32002" default="     {h} {p}"/>
        <setting id="format-subscription-day" type="text" label="Subscription Day" default="[COLOR deeppink]%s[/COLOR]"/>
        <setting id="format-subscription-day-tag" type="text" label="Subscription Day Brackets" default="[COLOR blueviolet][[/COLOR]%s[COLOR blueviolet]][/COLOR]"/>

    </category>

    <category label="Website Integration">
        <setting id="site_enabled" type="bool" label="Enabled" default="False"/>
        <setting id="username" type="text" label="    Username" enable="eq(-1,true)" default=""/>
        <setting id="passwd" type="text" label="    Password" enable="eq(-2,true)" default="" option="hidden"/>
        <setting id="old_version" type="text" visible="False" default="0.0.0.0"/>
    </category>
</settings>
